

@media (max-width: 991.98px){
	Rules
}
@media (min-width: 576px){
	Rules
}

.nav{
    width: 100%;
    height: 100px;
    background-color: yellowgreen;

}
.second_nav{
    width:100%;
    height:40px;
    background-color: blue;
}